
scrpting_test.py
data/glove.6B/glove.6B.50d.txt
data/glove.6B/glove.6B.300d.txt
data/glove.6B/glove.6B.200d.txt
data/glove.6B/glove.6B.100d.txt
data/creation_tutorialcommoncontent-2020-10-11-13-10-57.xlsx
data/creation_tutorialcommoncontent-2020-10-11-13-10-57 copy.csv
.spyproject/workspace.ini
.spyproject/vcs.ini
.spyproject/encoding.ini
.spyproject/codestyle.ini
*.csv
